<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<context:component-scan base-package="com.synsis"/>
</beans>
<!--    <bean id = "bookDao" class="com.synsis.dao.impl.BookDaoiml" >-->
<!--        <property name="databaseName" value="mysql"/>-->
<!--        <property name="connectionNum" value="10"/>-->
<!--    </bean>-->


<!--    <bean id = "userDao" class="com.synsis.dao.impl.UserDaoiml" />-->

<!--    <bean id="bookService" class="com.synsis.service.impl.BookServiceimpl" autowire="byType"/>-->



